*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
body{
    color: #333;
}
a:link , a:visited{
    text-decoration: none;
    color: #333;
}

.header svg{
    display: none;
}
.header{
    width: 100%;
}

.header .wrap{
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header .wrap::before{
    content: '';
    display: block;
    padding-top: 13%;
}
.header .wrap p{
    position: absolute;
    z-index: 1;
    top: 20%;
    right: 0;
}
.header .wrap button{
    width: 80px;
    height: 35px;
    font: 15px '나눔고딕';
    background: transparent;
    border: 1px solid #eee;
    cursor: pointer;
}

.header h2{
    width: 55%;
    display: flex;
    align-items: center;
}

.header h2 img{
    width: 90%;
    height: 90%;
}
.header .menu{
    position: relative;
    right: 0;
    bottom: 0;
    width: 45%;
    display: flex;
    align-items: flex-end;
}
.header ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.header li{
    width: 25%;
    height: 40px;
    text-align: center;
    position: relative;
}
.header li a:link,
.header li a:visited{
    font: bold 0.9em '나눔고딕';
    line-height: 40px;
}
.header li::before{
    position: absolute;
    z-index: 1;
    content: "";
    display: block;
    height: 20px;
    top: 10px;
    left: 100%;
    transform: translateX(-100%);
    background: transparent;
    border-right: 1px solid rgb(230, 230, 230);
}

.header li:last-child::before{
    border: 0;
}

.slide{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.slide ul{
    width: 100%;

}
.slide ul::before{
    content: '';
    display: block;
    padding-top: 35%;
}
.slide li{
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: all 1s;
}
.slide img{
    width: 100%;
    height: 100%;
}
.main{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main h2{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main h2 p{
    font: 800 1.7em '나눔고딕';
    background: -webkit-linear-gradient(left, #1743c7, #06ccb2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main ul{
    width: 80%;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main ul:nth-child(3){
    margin-top: 5%;
}
.main li{
    width: 20%;
    height: 100%;
}

.main dl{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
}

.main dt:nth-child(1),
.main dt:nth-child(2),
.main dt:nth-child(3){
    width: 100%;
    border-top: 2px solid rgb(200, 200, 200);
}


/* 에스코어드림 제목 */
.main li:nth-child(1) p:nth-child(1){
    font: bold 1.5em '에스코어드림';
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 10px;
}


/* 잉크립퀴드 제목 */
.main li:nth-child(2) dt p:nth-child(1){
    font: bold 1.8em '더페이스샵 잉크립퀴드체';
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 10px;
}

/* 검은고딕 제목 */
.main li:nth-child(3) dt p:nth-child(1){
    font: 1.8em 'black han sans';
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 10px;
}

/* 설립체 제목 */
.main .line_02 li:nth-child(1) dt p:nth-child(1){
    font: 1.8em '스스로넷 설립체';
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 10px;
}

/* 원스토어 모바일 제목 */
.main .line_02 li:nth-child(2) dt p:nth-child(1){
    font: 1.8em 'ONE Mobile POP';
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 10px;
}

/* 이사만루 제목 */
.main .line_02 li:nth-child(3) dt p:nth-child(1){
    font: 1.8em 'esamanru';
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 10px;
}


/* 에스코어드림 설명 */
.main li:nth-child(1) p:nth-child(2),
.main li:nth-child(1) p:nth-child(3){
    font: bold 0.9em '에스코어드림';
}

/* 잉크립퀴드 설명 */
.main li:nth-child(2) p:nth-child(2),
.main li:nth-child(2) p:nth-child(3){
    font: 1.2em '더페이스샵 잉크립퀴드체';
}

/* 검은고딕 설명 */
.main li:nth-child(3) p:nth-child(2),
.main li:nth-child(3) p:nth-child(3){
    font: 1.0em 'black han sans';
}

/* 설립체 설명 */
.main .line_02 li:nth-child(1) p:nth-child(2),
.main .line_02 li:nth-child(1) p:nth-child(3){
    font: 1.0em '스스로넷 설립체';
}

/* 원스토어 모바일 설명 */
.main .line_02 li:nth-child(2) p:nth-child(2),
.main .line_02 li:nth-child(2) p:nth-child(3){
    font: 1.0em 'ONE Mobile POP';
}

/* 이사만루 설명 */
.main .line_02 li:nth-child(3) p:nth-child(2),
.main .line_02 li:nth-child(3) p:nth-child(3){
    font: 1.0em 'esamanru';
}

.main dd{
    width: 100%;
}
.main dd img{
    width: 100%;
    height: 100%;
}


.footer{
    margin-top: 70px;
    width: 100%;
    height: 25vh;
    background: #333;
    position: relative;
}
.footer .wrap{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

    margin: auto;
}
.footer ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer .wrap li:nth-child(1) img{
    width: 40%;
}
.footer li:nth-child(1) p{
    font: 0.7em '돋음';
    color: white;
}
.footer li:nth-child(2){
    text-align: end;
}
.footer li:nth-child(2) a{
    font: 0.8em '돋음';
    color: white;
    text-decoration: underline;
}

.footer li:nth-child(2) dl{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.footer li:nth-child(2) dt,
.footer li:nth-child(2) dd{
    margin: 15px 0px 0px 10px;
    width: 30px;
    height: 30px;
}

.footer li:nth-child(2) dt img,
.footer li:nth-child(2) dd img{
    width: 100%;
    height: 100%;
}